
@{
    ViewBag.Title = "Temp";
}

<h2>Temp</h2>

<div class="form-group">
    @Html.Label("State", "State", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("State", (SelectList)ViewBag.States, "Select a State", new { @class = "form-control" })
        @Html.ValidationMessage("State", "", new { @class = "text-danger" })
    </div>
</div>


